body {
	font-size:[fontSize]px;
	font-family:[fontFamily];
}

.message { 
	margin-top: 1em;
	white-space: pre;
}

.branch, .tag {
	white-space: nowrap;
}
.parent {
	color: blue;
	cursor: pointer;
}

.diff-table {
	margin: 0;
	border-collapse: collapse;
	line-height: 1em;
	font-size:[fontSize]px;
	font-family:[fontFamily];
}
.diff-table tr {
	cursor: pointer;
	white-space: nowrap;
}
.diff-table td {
	padding: 0 0.2em;
}
.diff-table td.lines-added {
	background-color: [addColor];
	text-align: right;
}
.diff-table td.lines-removed {
	background-color: [deleteColor];
	text-align: right;
}
.diff-table td.path {
	padding-left: 0.5em;
}
.file-selected { 
	font-weight: bold;
}