body {
	padding: 0;
	margin: 0;
	font-size:[fontSize]px;
	font-family:[fontFamily];
}
#file-path {
	padding: 0.3em;
	white-space: nowrap;
}
.hunk-header {
	margin: 0;
	width: 100%;
	padding: 5px;
	background-color: #e0e0e0;
}
.hunk-diff { 
	margin: 0;
	border-collapse: collapse;
	width: 100%;
	white-space: pre;
	font-size:[fontSize]px;
	font-family:[fontFamily];
}
.hunk-line-numbers {
	padding: 0 0.3em;
	text-align: right;
	background-color: #e0e0e0;
}
.hunk-content {
	padding: 0 0.3em;
	width: 100%;
}
.preformat {
	padding: 0.3em;
	white-space: pre;
	font-size:[fontSize]px;
	font-family:[fontFamily];
}

.added {
	width: 100%;
	display: inline-block;
	background-color: [addColor];
}
.removed {
	width: 100%;
	display: inline-block;
	background-color: [deleteColor];
}

