svg {
	font-size:[fontSize]px;
	font-family:[fontFamily];
}

.row.current {
	font-weight:bold;
	font-style:oblique;
}

.commit-id {
	text-anchor: end;
}

.commitHighlight.current {
	stroke: gray;
}

.message {
	
}
.message .ref {
	font-weight:bold;
}

.commit, .merge {
	cursor: pointer;
}

.commit .message {
	fill: [commitColor];
}
.merge .message {
	fill: [mergeColor];
}
#load-more-link {
	font-size:130%;
	cursor: pointer;
}
