
.menu-item { -fx-padding: 2 8 2 8; }
.menu { -fx-padding: 2 8 2 8; }
.menu .context-menu { 
  -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
  -fx-padding: 2;
}
.menu-bar {
  -fx-padding: 0 1 0 1;
  -fx-spacing: 1;
}

.tab-pane .tab .tab-label { 
	-fx-padding: 1 8 1 8;
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-font-family: Consolas;
}

.tool-bar {
  -fx-padding: 2;
  -fx-spacing: 2;
}
.tool-bar .button {
  -fx-padding: 2;
  -fx-background-color: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}
.tool-bar .button:hover {
    -fx-background-color: -fx-shadow-highlight-color;
}
.tool-bar .button:pressed {
    -fx-background-color: -fx-accent;
}
.tool-bar .menu-button {
  -fx-padding: 0;
  -fx-background-color: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}
.tool-bar .menu-button:hover {
    -fx-background-color: -fx-shadow-highlight-color;
}
.tool-bar .menu-button:pressed {
    -fx-background-color: -fx-accent;
}

.status-bar {
  -fx-font-size: 12px;
  -fx-font-family: Consolas;
  -fx-padding: 2;
}

.tooltip {
	/* pref and max width must be set in code!!! */
  	-fx-font-family: Consolas;
	-fx-font-size: 14px;
	-fx-wrap-text: true;
    -fx-background-radius: 7px;
    -fx-background-insets: 0;
    -fx-padding: 10px;
}