body {
	font-size:[fontSize]px;
	font-family:[fontFamily];
}

ul.no-list {
	padding-left: 0px;
}
ul.no-list li {
	list-style: none;
	white-space: nowrap;
}

.branch, .tag, .remote {
	cursor: pointer;
}
.current {
	font-weight:bold;
	font-style:oblique;
}
.local {
	color: blue;
}
.remote-only {
	color: blue;
}
.divergence {
	display: inline-block;
	color: white;
	background-color: gray;
	border-radius: 3px;
	padding: 0px 2px;
	margin-right: 2px;
	font-weight: normal;
	font-style: normal;
}
