body {
	font-size:[fontSize]px;
	font-family:[fontFamily];
}
.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.scroll {
	overflow: scroll;
	border: 1px solid gray;
	flex-grow: 1;
	min-height: 60px;
}
.message {
	overflow: scroll;
	border: 1px solid gray;
	flex-grow: 0.5;
	font-size:[fontSize]px;
	font-family:[fontFamily];
	white-space: pre;
	min-height: 60px;
}

.diff-table {
	margin: 0;
	border-collapse: collapse;
	line-height: 1em;
	font-size:[fontSize]px;
	font-family:[fontFamily];
}
.diff-table tr {
	cursor: pointer;
	white-space: nowrap;
}
.diff-table td {
	padding: 0 0.2em;
}
.diff-table td.path {
	padding-left: 0.5em;
}
.file-selected { 
	font-weight: bold;
}
.staging-buttons {
	display: inline-block;
	position: absolute;
	right: 10px;
	font-size: 14px;
}
.staging-button {
	display: inline-block;
	cursor: pointer;
}
.commit-buttons {
	text-align: right;
}
#commit-button {
	display: inline-block;
	padding: 1px 6px;
	background-color: lightgreen;
	border: 1px solid gray;
	border-radius: 3px;
	cursor: pointer;
}
